@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background-image: url(../images/pizza.png);
  height: 830px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
}
.header {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &-menu {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      li {
        margin: 0 15px;
        &:nth-child(1) {
          margin-left: 0;
        }
        a {
          position: relative;
          &.active::after,
          &:hover:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transform: 0.4s;
            width: 100%;
            height: 1px;
            background-color: #000;
          }
        }
      }
    }
  }
  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p.phone {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      color: #000000;
      i {
        color: #fff;
        padding: 7px;
        font-weight: 400;
        background: linear-gradient(287.74deg, #f58656 8.52%, #fe5626 92.72%);
        box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}

.section {
  margin: 70px 0 50px;
  &-home {
    text-align: center;

    h1 {
      font-weight: bold;
      font-size: 48px;
      line-height: 59px;
      width: 55%;
      margin: 70px auto 0;
    }
    P {
      font-size: 18px;
      line-height: 140%;
      width: 55%;
      margin: 20px auto 0;
    }
    img {
      position: absolute;
      left: 50%;
      bottom: -15%;
      transform: translate(-50%, 0%);
    }
  }
  &-popular {
    h2 {
      font-weight: bold;
      font-size: 48px;
      line-height: 59px;
      text-align: center;
    }
    &-tab {
      margin: 30px 0;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        li {
          padding: 15px 40px;
          background: linear-gradient(0deg, #eceef6, #eceef6), #59aaf1;
          border-radius: 45px;
          margin: 10px;
          &:nth-child(1) {
            margin-left: 0;
          }
          a {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
          }
					&.active,
					&:hover {
						background: #59aaf1;
						transition: .3s;
            a {
              color: #fff;
            }
          }
        }
      }
    }
    &-cart {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
      .item {
        background: #ffffff;
        border: 2px solid #eceef7;
        box-sizing: border-box;
        border-radius: 15px;
        // height: 425px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        img {
          margin: 0 auto 20px;
          width: 170px;
          height: 173px;
          filter: drop-shadow(20px 10px 20px rgba(143, 92, 32, 0.1));
        }
        p {
          font-size: 12px;
          line-height: 140%;
          &.price {
            font-weight: 300;
            font-size: 24px;
            line-height: 140%;
            text-align: center;
            color: #121146;
            margin: 30px 0 10px;
          }
        }

        &-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          h3 {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
          }
          p {
            font-size: 12px;
            line-height: 140%;
            text-align: right;
          }
        }
      }
    }
  }
  &-instagram {
    padding: 50px 0;
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    button {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #ffffff;
      width: 480px;
      height: 180px;
      border: none;
      background: linear-gradient(45.04deg, #fd9924 -51.05%, #f65b16 134.89%);
      box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2),
        0px 35px 50px rgba(253, 55, 36, 0.2),
        0px 20px 25px rgba(253, 55, 36, 0.2);
      border-radius: 15px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 90%;
        height: 80%;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      span {
        font-weight: 700;
      }
    }
  }
  &-form {
    margin: 70px 0 20px;
    background-image: url(../images/bg-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    h2 {
      font-weight: bold;
      font-size: 48px;
      line-height: 150%;
      text-align: center;
      padding: 50px 0;
    }
    form {
      width: fit-content;
      margin: 0 auto;
      button {
        background: linear-gradient(180deg, #fe5626 0%, #f23f0e 100%), #59aaf1;
        box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
        border-radius: 59px;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        text-align: left;
        color: #ffffff;
        height: 64px;
        padding: 0 50px;
        width: 260px;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        img {
          text-align: right;
        }
      }
      input {
        width: 260px;
        height: 40px;
        background: #ffffff;
        border: 2px solid #eceef7;
        box-sizing: border-box;
        border-radius: 57px;
        padding: 30px;
        font-size: 14px;
        line-height: 140%;
        color: #222222;
        margin: 0 15px;
        &:nth-child(1) {
          margin-left: 0;
        }
        &::placeholder {
          font-size: 14px;
          line-height: 140%;
          color: #222222;
        }
        &[type="submit"] {
          background: linear-gradient(180deg, #fe5626 0%, #f23f0e 100%), #59aaf1;
          box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
          border-radius: 59px;
          font-weight: bold;
          font-size: 18px;
          line-height: 140%;
          text-align: center;
          color: #ffffff;
          height: 64px;
          padding: 0;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p,
  a {
    width: 33.33%;
  }
  a {
    text-align: center;
  }
  p {
    &:nth-last-child(1) {
      text-align: right;
    }
  }
}
